@model VaultLifeAdmin.Models.GameRule

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>GameRule</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.GameRuleCode, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.GameRuleCode)
                @Html.ValidationMessageFor(model => model.GameRuleCode)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GameID, "GameID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("GameID", String.Empty)
                @Html.ValidationMessageFor(model => model.GameID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FilterCriteria, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FilterCriteria)
                @Html.ValidationMessageFor(model => model.FilterCriteria)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Schedule, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Schedule)
                @Html.ValidationMessageFor(model => model.Schedule)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ChainGameRuleID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ChainGameRuleID)
                @Html.ValidationMessageFor(model => model.ChainGameRuleID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GameRuleDetail, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.GameRuleDetail)
                @Html.ValidationMessageFor(model => model.GameRuleDetail)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ExcecuteTime, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ExcecuteTime)
                @Html.ValidationMessageFor(model => model.ExcecuteTime)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DateInserted, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateInserted)
                @Html.ValidationMessageFor(model => model.DateInserted)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DateUpdated, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateUpdated)
                @Html.ValidationMessageFor(model => model.DateUpdated)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.USR, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.USR)
                @Html.ValidationMessageFor(model => model.USR)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GameTemplateID, "GameTemplateID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("GameTemplateID", String.Empty)
                @Html.ValidationMessageFor(model => model.GameTemplateID)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
