@model VaultLifeAdmin.Models.ProductInGame

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ProductInGame</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Currency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Currency)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateInserted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateInserted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateUpdated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateUpdated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Game.GameCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Game.GameCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product.ProductSKUCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.ProductSKUCode)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProductInGameID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
