@model VaultLifeAdmin.ViewModels.ProductInGameViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Hidden("hdnLoggedInUser", @"USR")

    <div class="form-horizontal">
        <h4>ProductInGame</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ProductInGame.ProductInGameID)
        @Html.HiddenFor(model => model.CurrentQuantity)

        <div class="form-group">
            @Html.LabelFor(model => model.ProductOwnerID, "ProductOwnerID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ProductOwnerID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ProductOwnerID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProductInGame.ProductID, "ProductID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ProductInGame.ProductID", (SelectList)ViewBag.ProductID, String.Empty, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ProductInGame.ProductID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProductInGame.GameID, "GameID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ProductInGame.GameID", (SelectList)ViewBag.GameID, String.Empty, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ProductInGame.GameID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProductInGame.Quantity, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ProductInGame.Quantity, new { htmlAttributes = new { @class = "form-control" } })
                @*@Html.ValidationMessageFor(model => model.ProductInGame.Quantity, "", new { @class = "text-danger" })*@
                @Html.ValidationMessage("QuantityError", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ProductInGame.PriceInGame, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ProductInGame.PriceInGame, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessage("PriceInGameError", "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ProductInGame.ReferencePrice, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ProductInGame.ReferencePrice, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessage("ReferencePriceError", "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ProductInGame.CurrencyID, "CurrencyID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @Html.DropDownList("ProductInGame.CurrencyID", (SelectList)ViewBag.CurrencyID, String.Empty, htmlAttributes: new { @class = "form-control" })


                @Html.ValidationMessageFor(model => model.ProductInGame.CurrencyID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProductInGame.DateInserted, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.HiddenFor(model => model.ProductInGame.DateInserted)
                @Html.DisplayFor(model => model.ProductInGame.DateInserted, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ProductInGame.DateInserted, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProductInGame.DateUpdated, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.HiddenFor(model => model.ProductInGame.DateUpdated)
                @Html.DisplayFor(model => model.ProductInGame.DateUpdated, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ProductInGame.DateUpdated, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProductInGame.USR, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.HiddenFor(model => model.ProductInGame.USR)
                @Html.DisplayFor(model => model.ProductInGame.USR, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ProductInGame.USR, "", new { @class = "text-danger" })
            </div>
        </div>
        <h3>Product Locations</h3>
        @Html.ValidationMessage("ProductInGameIDError", new { @class = "text-danger" })
        @Html.ActionLink("+ Create New Product Location", "CreateForProductInGame", "ProductLocations", new { productInGameID = @Model.ProductInGame.ProductInGameID }, null)
        <table id="sample-table-1" class="table table-striped table-bordered table-hover">
            <thead>
                <tr>

                    <th>
                        AddressID
                    </th>
                    <th>
                        DeliveryAgentName
                    </th>
                    <th>
                        DateInserted
                    </th>
                    <th>
                        DateUpdated
                    </th>
                    <th>USR</th>
                </tr>
            </thead>
            <tbody>
                @Html.EditorFor(model => model.ProductLocations)

            </tbody>

        </table>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
