@model IEnumerable<VaultLifeAdmin.Models.ProductInGame>

@{
    ViewBag.Title = "Index";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Products in Games</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PriceInGame)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Currency.CurrencyCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateInserted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateUpdated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.USR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Game.GameCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.ProductSKUCode)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PriceInGame)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Currency.CurrencyCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateInserted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateUpdated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.USR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Game.GameCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.ProductSKUCode)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProductInGameID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProductInGameID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProductInGameID })
        </td>
    </tr>
}

</table>
