@model Vaultlife.Models.DisplayItem

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DisplayItem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DisplayItemType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DisplayItemType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DisplayItemURL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DisplayItemURL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product.ProductSKUCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.ProductSKUCode)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
