@model VaultLifeAdmin.Models.GameTemplate

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>GameTemplate</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.GameTemplateID)

        <div class="form-group">
            @Html.LabelFor(model => model.GameTemplateCode, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.GameTemplateCode)
                @Html.ValidationMessageFor(model => model.GameTemplateCode)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GameTypeID, "GameTypeID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("GameTypeID", String.Empty)
                @Html.ValidationMessageFor(model => model.GameTypeID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DateInserted, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateInserted)
                @Html.ValidationMessageFor(model => model.DateInserted)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DateUpdated, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateUpdated)
                @Html.ValidationMessageFor(model => model.DateUpdated)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.USR, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.USR)
                @Html.ValidationMessageFor(model => model.USR)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GameRuleCode, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.GameRuleCode)
                @Html.ValidationMessageFor(model => model.GameRuleCode)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GameRuleDetail, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.GameRuleDetail)
                @Html.ValidationMessageFor(model => model.GameRuleDetail)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OrderInGame, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OrderInGame)
                @Html.ValidationMessageFor(model => model.OrderInGame)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
