@model IEnumerable<Vaultlife.Models.Voucher>

@{
    ViewBag.Title = "Index";
}

<h2>Vouchers</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.VoucherNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Used)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateInserted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateUsed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductLocation.USR)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.VoucherNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Used)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateInserted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateUsed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductLocation.USR)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.VoucherID }) |
            @Html.ActionLink("Details", "Details", new { id=item.VoucherID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.VoucherID })
        </td>
    </tr>
}

</table>
