@using Microsoft.AspNet.Identity
@model Vaultlife.ViewModels.AccountManageViewModel


@using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="text-center">
        <h2>Out with the old and in with the new!</h2>
    </div>
    @Html.ValidationSummary("", new { @class = "text-danger text-center" })
    <div class="row">
        <div class="col-md-7 col-md-offset-2">
            <div class="form-layout">
                <div class="form-row">
                    <div class="form-label">
                        @Html.LabelFor(m => m.OldPassword)
                    </div>
                    <div class="form-field">
                        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-label">
                        @Html.LabelFor(m => m.NewPassword)
                    </div>
                    <div class="form-field">
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-label">
                        @Html.LabelFor(m => m.ConfirmPassword, "Confirm Password")
                    </div>
                    <div class="form-field">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="text-center">
                <input type="submit" name="passwordsubmit" value="Change password" class="btn btn-primary btn-spaced" />
                <br />&nbsp;
                @TempData["messagePasswordSubmit"]
            </div>
        </div>
    </div>
}
