@model IEnumerable<Vaultlife.Models.Currency>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CurrencyCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrencySymbol)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Country.CountryName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CurrencyCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CurrencySymbol)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Country.CountryName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CurrencyID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CurrencyID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CurrencyID })
        </td>
    </tr>
}

</table>
