@model VaultLifeAdmin.Models.ProductLocation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ProductLocation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeliveryAgentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeliveryAgentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateInserted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateInserted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateUpdated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateUpdated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductInGame.Currency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductInGame.Currency)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProductLocationID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
